@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

html{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: whitesmoke;
    font-family: Noto Sans JP, sans-serif;
}


.nav-bar {
    background-color: white;
    width: 100%;
    display: flex;
    height: 50px
    position: fixed;
    justify-content: left;
    align-items: center;
}

.add-new-btn{
    cursor: pointer;
    border: none;
    background: yellow;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    padding: 10px;

}

.add-new-bookmark-colum{
    margin: 10px;
}

.add-new-btn{
    margin: 10px;
}

.hidden{
    display: none;
}


.bookmark-modal {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    max-width: 95%;
    width: 250px;
    z-index: 110;
    position: fixed;
    margin-left: 10px;
}

.modal-header {
    padding: 5px;
    background-color: greenyellow;
}
.modal-header h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    padding: 5px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-icon{
    float: right;
    padding: 10px;
    cursor: pointer;
}

.form-input {
    width: 97%;
}

.form-label {
    display: block;
  }

.save-btn {
    cursor: pointer;
    color: white;
    background: orange;
    height: 30px;
    width: 97%;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    float: right;
}


.error-message{
    font-size: 0.7rem;
    color: red;
}

.bookmark-columns {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.header {
    background: tomato;
    padding: 5px;
    top: 0;
}

.header h1 {
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    border: none;
  }

.bookmark-column{
    flex: 1 0 21%;
    margin: 10px 10px;
    position: relative;
    height: 300px;
    background-color: tan;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.2);
    overflow-x: hidden;

}

#delete-folder-icon{
    z-index: 10;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
  border:none;
  outline:none;
}


.bookmark-list {
    list-style-type: none;  
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.bookmark-item{
    margin: 10px;
    padding: 10px; 
    background: rgba(0,0,0,0.1);
    line-height: 1.5rem;
    height: fit-content;
    border-radius: 10px;
}


@media screen and (max-width: 600px){
    body{
        overflow-y: auto;
    }
    .bookmark-container{
        margin: 0;
    }
    .bookmark-columns{
        display: block;
    }
    .bookmark-column {
        margin: 10px;
    }

}